[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "~=1.11.0"
"psycopg2" = "~=2.7.0"
unipath = "~=1.1.0"
dj-database-url = "~=0.4.0"
djangorestframework = "~=3.7.0"
django-dotenv = "~=1.4.0"
pillow = "~=4.3.0"
django-messagegroups = "~=0.4.0"
django-model-utils = "~=3.0.0"
django-bootstrap-form = "~=3.3.0"
sorl-thumbnail = "~=12.3.0"
django-crispy-forms = "~=1.7.0"
django-extensions = "~=1.9.0"
gunicorn = "~=19.7.1"
opbeat = "~=3.5.3"


[dev-packages]

pytest = "~=3.2.0"
pytest-cov = "~=2.5.0"
pytest-django = "~=3.1.0"
"pytest-pep8" = "~=1.0.0"
model-mommy = "~=1.4.0"
freezegun = "~=0.3.9"
