Django==1.5.4
psycopg2==2.5.1
South==0.8.2
Unipath==1.0
dj-database-url==0.2.2
django-messagegroups==0.4.1
django-extensions==1.2.3
pytest==2.4.2
pytest-cov==1.6
pytest-django==2.3.1
pytest-pep8==1.0.5
django-model-utils==1.5.0
model-mommy==1.1
