# Base system
Django==1.8.7
psycopg2==2.6.1
Unipath==1.1
dj-database-url==0.3.0

# Useful libs
django-messagegroups==0.4.4
django-model-utils==2.3.1
django-bootstrap-form==3.2

# Dev
django-extensions==1.5.9

# Testing
pytest==2.8.3
pytest-cov==2.2.0
pytest-django==2.9.1
pytest-pep8==1.0.6
model-mommy==1.2.5.1

# Deployment
gunicorn==19.4.1
opbeat==3.1.3
