# Base system
Django==1.8.13
psycopg2==2.6.1
Unipath==1.1
dj-database-url==0.4.1

# Useful libs
django-messagegroups==0.4.5
django-model-utils==2.5
django-bootstrap-form==3.2.1

# Dev
django-extensions==1.6.7

# Testing
pytest==2.9.2
pytest-cov==2.2.1
pytest-django==2.9.1
pytest-pep8==1.0.6
model-mommy==1.2.6

# Deployment
gunicorn==19.6
opbeat==3.3.3
