{% extends 'front/base.html' %}
{% load tabs thumbnail %}

{% block bodyclass %}inventory_list{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'inventory' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% if category %}
    <li class="breadcrumb-item"><a href="{% url 'inventory:index' %}">Inventar</a></li>
    <li class="breadcrumb-item active">Kategorie: {{ category.1 }}</li>
    {% else %}
    <li class="breadcrumb-item active">Inventar</li>
    {% endif %}
</ol>
{% endblock %}

{% block content %}
    <h1>Inventar</h1>

    <p>
    Diese Seite bietet eine Übersicht über unsere Einrichtung.
    Aktuell {{ object_list|length|pluralize:"ist,sind" }} {{ object_list|length }} Objekt{{ object_list|length|pluralize:"e" }}
    {% if category %}
    in der Kategorie "{{ category.1 }}"
    {% endif %}
    erfasst.
    </p>
    <p>Änderungen können von einem Vorstandsmitglied vorgenommen werden.</p>

    <div id="categories">
        <strong>Kategorien: </strong> {% for key, name, count in categories %}
        <a class="badge{% if key == category.0 %} active{% endif %}" href="?category={{ key }}">{{ name }} ({{ count }})</a> {% endfor %}<a class="badge" href="?category=none">[Keine]</a> <a class="badge" href="?">[Alle]</a>
    </div>

    <div id="projects">
        {% for item in object_list %}
            <section class="item">
                <header>
                    <h2><a href="{% url "inventory:detail" pk=item.pk %}">{{ item.name }}</a></h2>
                    <p class="owner"><strong>Besitzer</strong>: {% if item.owner == 'Coredump' %}Coredump{% else %}Leihgabe von {{ item.owner }}{% endif %}</p>
                    {% if item.category %}
                    <p class="category"><strong>Kategorie:</strong> {{ item.get_category_display }}</p>
                    {% endif %}
                </header>
                {% thumbnail item.image "250x180" crop="center" as im %}
                    <a href="{% url "inventory:detail" pk=item.pk %}"><img src="{{ im.url }}" alt="Picture for '{{ item.name }}'"></a>
                {% endthumbnail %}
            </section>
        {% empty %}
            <p><em>Keine Objekte gefunden.</em></p>
        {% endfor %}
    </div>
{% endblock %}
