{% extends 'front/base.html' %}
{% load tabs staticfiles %}

{% block bodyclass %}home{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'home' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Hallo</h1>
    <p>Diese Seite ist für coredump-interne Dinge gedacht, wie zB Mitgliederverwaltung.</p>
    <p>Für viele der Unterseiten hier benötigt man ein Login. Ein solches
    kriegst du an einem der Treffen bei einem Vorstandsmitglied.</p>
    <br>
    <img src="{% static 'img/intro.gif' %}" alt="Stupid gif animation" />
{% endblock %}
