{% extends 'front/base.html' %}
{% load tabs crispy_forms_tags %}

{% block bodyclass %}login{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'login' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Login</h1>

    <p>Bitte melde dich hier mit deinem Account an. Wenn du noch keinen Account
    hast, melde dich bitte an ein Vorstandsmitglied.</p>

    <form role="form" action="{% url 'front:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}
