{% extends 'front/base.html' %}
{% load tabs %}

{% block bodyclass %}members{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'members' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Mitglieder</h1>

    <p>Unsere aktuellen Mitglieder. Um Einträge zu ändern oder neue Mitglieder
    hinzuzufügen, benutze das <a href="{% url 'admin:index' %}">Admin Interface</a>.</p>

    <h3>Aktivmitglieder</h3>

    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Natel</th>
            <th>Wohnort</th>
            <th>Mitglied seit</th>
        </thead>
        <tbody>
            {% for membership in active_memberships %}
                {% with member=membership.Member %}
                    <tr>
                        <td>{{ member.id }}</td>
                        <td>{{ member.name }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.phone }}</td>
                        <td>{{ member.city }}</td>
                        <td>{{ membership.start|date:"Y-m-d" }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>

    <h3>Ehemalige Mitglieder</h3>

    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Natel</th>
            <th>Wohnort</th>
            <th>Mitglied seit</th>
        </thead>
        <tbody>
            {% for membership in expired_memberships %}
                {% with member=membership.Member %}
                    <tr>
                        <td>{{ member.id }}</td>
                        <td>{{ member.name }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.phone }}</td>
                        <td>{{ member.city }}</td>
                        <td>{{ membership.start }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
