{% extends 'front/base.html' %}
{% load tabs %}

{% block bodyclass %}projects{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'projects' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Projektideen</h1>

    <p>Hier können Projektideen gesammelt werden. Sourcecode von existierenden
    Projekten wird auf <a href="https://github.com/coredump-ch/">Github</a>
    gesammelt.</p>

    <iframe class="fullwidth" name="embed_readwrite" src="http://etherpad.coredump.ch/p/projektideen?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false"></iframe>

{% endblock %}
