{% extends 'front/base.html' %}
{% load tabs %}

{% block bodyclass %}wishlist{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'wishlist' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Wishlist</h1>

    <p>Hier eine Wunschliste für Gegenstände, die wir noch brauchen / möchten.</p>
    <p>Ist natürlich auch eine gute Chance für potentielle Sponsoren.</p>

    <iframe class="fullwidth" name="embed_readwrite" src="https://etherpad.coredump.ch/p/wishlist?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false"></iframe>

{% endblock %}
