{% extends 'front/base.html' %}
{% load tabs thumbnail crispy_forms_tags %}

{% block bodyclass %}crowdfund_detail{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'crowdfund' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Crowdfund: {{ object.title }}</h1>

    <p>Funding initiiert{% if object.initiator %} von {{ object.initiator }}{% endif %} am {{ object.created }}.</p>

    <div class="row">
        <div class="col-md-9">
            <h2>Details</h2>

            {% thumbnail project.image "500x300" as im %}
                <img src="{{ im.url }}" alt="Picture for project '{{ project.title }}'">
            {% endthumbnail %}

            <div class="description">
                {{ object.long_description|linebreaks }}
            </div>

            <h2>Funders ({{ object.promises.count }})</h2>
            {% if object.promises %}
                <p>
                    {% for promise in object.promises %}
                    {{ promise.name }} ({{ promise.amount }} CHF{% if promise.expiry_date %}, gültig bis {{ promise.expiry_date }}{% endif %}){% if not forloop.last %},{% else %}.{% endif %}
                    {% endfor %}
                </p>
                <p>Vielen Dank!</p>
            {% else %}
                <p>Bisher noch keine Funder. Sei der/die Erste!</p>
            {% endif %}

        </div>
        <div class="col-md-3">
            <h2>Funding</h2>

            <p class="amount-required">Status: {{ object.amount_funded }} von {{ object.amount_required }}
            CHF ({{ object.percent_funded }}%) finanziert durch
            {{ object.promises.count }} Personen!</p>

            {% crispy fund_form fund_form.helper %}
        </div>
    </div>
{% endblock %}
