{% extends 'front/base.html' %}
{% load tabs thumbnail %}

{% block bodyclass %}crowdfund_list{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'crowdfund' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Crowdfund</h1>

    <div class="pull-right" id="add-project">
        <a href="{% url 'crowdfund:create' %}" class="btn btn-primary" role="button">Projekt Hinzufügen</a>
    </div>

    <p>Diese Seite bietet eine Übersicht über Projekte, die wir im Coredump
    durch Mitglieder und Interessierte finanzieren möchten!</p>

    <p>Aktuell sind {{ object_list|length }} Projekte offen.</p>

    <div id="projects">
        {% for project in object_list %}
            <section class="project">
                <header>
                    <h2><a href="{% url "crowdfund:detail" pk=project.pk %}">{{ project.title }}</a></h2>
                    <p class="initiator">By {{ project.initiator.username|default:"&lt;Deleted User&gt;" }}</p>
                </header>
                {% thumbnail project.image "250x180" crop="center" as im %}
                    <a href="{% url "crowdfund:detail" pk=project.pk %}"><img src="{{ im.url }}" alt="Picture for project '{{ project.title }}'"></a>
                {% endthumbnail %}
                <p class="short_description">{{ project.short_description }}</p>
                <div class="labels">
                    {% if project.initiator == request.user %}
                        <span class="label label-primary">Dein Projekt!</span>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}
